a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}

.btn-detail{
    background: $red-cl;
    border-radius: 30px;
    display: inline-block;
    transition: background .4s;
    a{
        padding: 9px 32px;
        @include text(15px,'SFU-A',20px,$white-cl,uppercase);
    }
    &:hover{
        background: lightgray;
        transition: background .4s;
    }
}

.btn-square{
     background: $red-cl;
    display: inline-block;
    transition: background .4s;
    a{
        padding: 9px 32px;
        @include text(15px,'SFU-A',20px,$white-cl,uppercase);
    }
    &:hover{
        background: lightgray;
        transition: background .4s;
    }
}